<ion-view title="Welcome!">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-text-wrap">
        
          <h2 align="center">Welcome to Pntry!</h2>

          <p>Login or Register as a new Food Pantry and start managing your donations</p>
        
  
            <div class="button-bar">
              <a class="button button-balanced" ng-click="openLogin()">Login</a>
              <a class="button button-energized" ng-click="openRegister()">Register</a>              
            </div>
        
        </div>
 
    </div>
  </ion-content>
</ion-view>
