<div class="modal">
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-balanced" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-view title="Login">
  <ion-content>
   
    <form name="loginForm" ng-submit="doLogin()">

      <div class="card list">
      
        <label class="item item-input">
          <span class="input-label">Username <span class="assertive">*</span>
            <div class="error-container">
            <small class="assertive" ng-show="loginForm.username.$invalid">Please input a username</small>
          </div>
          </span>
          
          <input type="text" name="username" ng-model="loginData.username" required>

        </label>
        <label class="item item-input">
          <span class="input-label">Password <span class="assertive">*</span>
            <div class="error-container">
            <small class="assertive" ng-show="loginForm.password.$invalid">Please input a password</small>
          </div>
          </span>
          
          <input type="password" name="password" ng-model="loginData.password" required>
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Log in</button>
        </label>
       
      </div>
    </form>    
  </ion-content>
</ion-view>
</div>


